/*Colors*/
:root {
  --fons-main: #d8d5db;
  --fons-aside: #adacb5;
  --fons-barres: #2d3142;
  --text-main: #333333;
  --text-barres: #ffffff;
}
.capçalera, .peu {
  background-color: var(--fons-barres);
  color: var(--text-barres);
  min-height: 100px;
}
.principal {
  background-color: var(--fons-main);
  color: var(--text-main);
}
.sidebar {
  background-color: var(--fons-aside);
  color: var(--text-main);
}
/*Reset*/
ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}
